/* ===== LOGIN - estilos específicos ===== */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box{
  width: 350px;
  text-align: center;
}

.login-box h2{
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--naranja);
}

.login-box a{
  color: var(--naranja);
  text-decoration: none;
  font-size: 14px;
}

.login-box a:hover{
  text-decoration: underline;
}
